<form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Login Page</h1>
  </div>

  <app-generic-input-w-v [placeholder]="'Email'"
                           [label]="'User Email'"
                           ngModel name="email">
  </app-generic-input-w-v>

  <app-my-password-input ngModel name="password"></app-my-password-input>


  <button class="btn btn-lg btn-primary btn-block" [disabled]="!f.valid" type="submit">Sign in</button>
</form>
